<div class="container">
  <p-toast></p-toast>
  <p-confirmDialog #cd [style]="{ width: '50vw' }">
    <ng-template pTemplate="footer">
      <button
        type="button"
        pButton
        icon="pi pi-times"
        label="Sim"
        (click)="cd.accept()"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-check"
        label="Não"
        (click)="cd.reject()"
      ></button>
    </ng-template>
  </p-confirmDialog>
  <div class="grid">
    <div class="col-12">
      <h1>Pessoas</h1>
    </div>
    <form (ngSubmit)="pesquisar(0)">
      <div class="col-12">
        <label for="descricao">Nome</label>
        <input
          class="w-full"
          pInputText
          type="text"
          id="nome"
          name="nome"
          [(ngModel)]="nome"
        />
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>
  </div>
  <div class="grid">
    <div class="col-12">
      <p-table
        #tabela
        [lazy]="true"
        (onLazyLoad)="aoMudarPagina($event)"
        [paginator]="true"
        [rows]="5"
        [totalRecords]="totalRegistros"
        responsiveLayout="stack"
        [value]="pessoas"
        dataKey="id"
        [showCurrentPageReport]="true"
        currentPageReportTemplate=" {totalRecords} pessoas"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th class="col-data">Cidade</th>
            <th class="col-data">Estado</th>
            <th>Status</th>
            <th class="col-acoes"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td class="col-pessoa">
              <span class="p-column-title">Nome</span>{{ pessoa.nome }}
            </td>
            <td>
              <span class="p-column-title">Cidade</span
              >{{ pessoa.endereco.cidade }}
            </td>
            <td class="col-data">
              <span class="p-column-title">Estado</span
              >{{ pessoa.endereco.estado }}
            </td>
            <td class="col-data">
              <span class="p-column-title">Status.</span>
              <a *ngIf="pessoa.ativo" (click)="ativar(pessoa.id, pessoa.ativo)"
                ><p-tag
                  styleClass="mr-2"
                  severity="success"
                  value="Ativa"
                ></p-tag
              ></a>

              <a *ngIf="!pessoa.ativo" (click)="ativar(pessoa.id, pessoa.ativo)"
                ><p-tag severity="danger" value="Inativa"></p-tag
              ></a>
            </td>

            <td class="col-acoes">
              <span class="p-column-title">Ações</span>
              <a pTooltip="Editar" tooltipPosition="top" pButton
                ><i class="pi pi-pencil"></i
              ></a>
              <a
                (click)="excluir(pessoa.id)"
                pTooltip="Excluir"
                tooltipPosition="top"
                pButton
                ><i class="pi pi-trash"></i
              ></a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="col-12">
      <a pButton label="Nova Pessoa"></a>
    </div>
  </div>
</div>
