<div class="container">
  <div class="grid">
    <div class="col-12">
      <h1>Pessoas</h1>
    </div>
    <div class="col-12">
      <label for="descricao">Nome</label>
      <input class="w-full" pInputText type="text" id="nome" />
    </div>

    <div class="col-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <p-table
        [paginator]="true"
        [rows]="5"
        responsiveLayout="stack"
        [value]="pessoas"
        dataKey="id"
        [showCurrentPageReport]="true"
        currentPageReportTemplate=" {totalRecords} pessoas"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th class="col-data">Cidade</th>
            <th class="col-data">Estado</th>
            <th>Status</th>
            <th class="col-acoes"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td class="col-pessoa">
              <span class="p-column-title">Nome</span>{{ pessoa.nome }}
            </td>
            <td>
              <span class="p-column-title">Cidade</span>{{ pessoa.cidade }}
            </td>
            <td class="col-data">
              <span class="p-column-title">Estado</span>{{ pessoa.estado }}
            </td>
            <td class="col-data">
              <span class="p-column-title">Status.</span
              >{{ pessoa.status ? "Ativa" : "Inativa" }}
            </td>

            <td class="col-acoes">
              <span class="p-column-title">Ações</span>
              <a pTooltip="Editar" tooltipPosition="top" pButton
                ><i class="pi pi-pencil"></i
              ></a>
              <a pTooltip="Excluir" tooltipPosition="top" pButton
                ><i class="pi pi-trash"></i
              ></a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="col-12">
      <a pButton label="Nova Pessoa"></a>
    </div>
  </div>
</div>
