<div class="container">
  <form>
    <div class="grid">
      <div class="col-12">
        <h1>Nova pessoa</h1>
      </div>

      <div class="col-12">
        <label>Nome </label>
        <input class="w-full" pInputText />
      </div>
      <div class="col-10">
        <label>Logradouro </label>
        <input class="w-full" pInputText />
      </div>
      <div class="col-2">
        <label>Número </label>
        <input class="w-full" pInputText />
      </div>
      <div class="col-4">
        <label>Complemento </label>
        <input class="w-full" pInputText />
      </div>
      <div class="col-4">
        <label>Bairro </label>
        <input class="w-full" pInputText />
      </div>
      <div class="col-4">
        <label>CEP </label>
        <p-inputMask
          class="w-full"
          mask="99.999-999"
          placeholder="99.999-999"
        ></p-inputMask>
      </div>

      <div class="col-6">
        <label>Cidade </label>
        <input class="w-full" pInputText />
      </div>
      <div class="col-6">
        <label>Estado </label>
        <input class="w-full" pInputText />
      </div>

      <div class="col-12">
        <button type="submit" label="Salvar" pButton></button>
        <button class="ml-1" label="Novo" pButton></button>
        <a class="ml-2" href="#">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
